/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Remove a rolagem do body para controlar na div */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura do body seja pelo menos a altura da tela */
}

#container {
    padding-top: 10px;
    flex: 1;
    width: 85%;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    color: #1E6C93;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    text-indent: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #1E6C93;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #212121;
}

/* Ajuste para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Garante que não haja quebras de linha nas células da tabela */
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #1E6C93;
    color: white;
}

tr {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }

    th, td {
        font-size: 0.9rem;
    }
}

/* Ajustes de layout */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite rolagem lateral */
    padding-bottom: 50px; /* Para não sobrepor o footer */
}

/* Footer fixo */
footer {
    background-color: #1E6C93; /* Fundo azul */
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Garante que o footer fique sempre acima de outros elementos */
}

.footer {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

#container {
    margin-bottom: 50px; /* Espaço para o footer */
}
